@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import '~bootswatch/dist/materia/variables';
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// Import Bootswatch theme.
@import '~bootswatch/dist/materia/bootswatch';

body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

#google {
  width: 50%;
}

#book-col {
  width: 100%;
}

#col {
  width: 100%;;

}

#main-title {
  text-align: center;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
  border-radius: 0.5em;

}

#jumbo {
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
}

#navi {
  background-image: linear-gradient(
    rgb(226, 228, 232) 0%,
    rgb(73, 73, 76) 100%
  );
  border-bottom: 1.5px solid whitesmoke;
  width: 100%;
}

#nav {
display: inline-flex;
color: whitesmoke;
}

#nav-link {
  display: inline-flex;
}

#btn {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin: 2%;
  padding: 2%;
  text-decoration: none;
  font-size: 90%;
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background-image: linear-gradient(
    rgb(226, 228, 232) 0%,
    rgb(73, 73, 76) 100%
  );
}

#btn:hover {
  background-image: linear-gradient(
    rgb(175, 238, 179) 0%,
    rgb(3, 160, 129) 100%
  );
  color: black;
  font-size: 90%;
  transition: all 0.3s ease-in-out;
  border: black 1px solid;
}

#btn1 {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin: 1%;
  padding: 0.5%;
  text-decoration: none;
  font-size: 85%;
  width: 120%;
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background-image: linear-gradient(
    rgb(226, 228, 232) 0%,
    rgb(73, 73, 76) 100%
  );
}

#btn1:hover {
  background-image: linear-gradient(
    rgb(175, 238, 179) 0%,
    rgb(3, 160, 129) 100%
  );
  color: black;
  font-size: 90%;
  transition: all 0.3s ease-in-out;
  border: black 1px solid;
}

#btn2 {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin: 1%;
  padding: 0.5%;
  text-decoration: none;
  border-radius: 0.5rem;
  border: 1px solid black;
  color: whitesmoke;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
}

#btn2:hover {
  background-image: linear-gradient(
    rgb(175, 238, 179) 0%,
    rgb(3, 160, 129) 100%
  );
  color: black;
  font-size: 90%;
  transition: all 0.3s ease-in-out;
  border: black 1px solid;
}

#btn3 {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin: 2%;
  padding: 0.75%;
  text-decoration: none;
  font-size: 90%;
  border-radius: 0.5rem;
  border: 1px solid black;
  color: whitesmoke;
  background-image: linear-gradient(
    rgb(226, 228, 232) 0%,
    rgb(73, 73, 76) 100%
  );
}

#btn3:hover {
  background-image: linear-gradient(
    rgb(175, 238, 179) 0%,
    rgb(3, 160, 129) 100%
  );
  color: black;
  font-size: 90%;
  transition: all 0.3s ease-in-out;
  border: black 1px solid;
}

#btn4 {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin: 2%;
  padding: 0.75%;
  text-decoration: none;
  font-size: 70%;
  border-radius: 0.5rem;
  border: 1px solid rgb(196, 3, 3);
  color: rgb(176, 5, 25);
  background-image: linear-gradient(
    rgb(226, 228, 232) 0%,
    rgb(235, 235, 247) 100%
  );
}

#btn4:hover {
  background-image: linear-gradient(
    rgb(246, 168, 168) 0%,
    rgb(184, 3, 3) 100%
  );
  color: whitesmoke;
  font-size: 75%;
  transition: all 0.3s ease-in-out;
  border: rgb(185, 185, 191) 1px solid;
}

#btn5 {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin: 2%;
  padding: 1%;
  text-decoration: none;
  font-size: 90%;
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
}

#btn5:hover {
  background-image: linear-gradient(
    rgb(175, 238, 179) 0%,
    rgb(3, 160, 129) 100%
  );
  color: black;
  font-size: 90%;
  transition: all 0.3s ease-in-out;
  border: black 1px solid;
}

#btn6 {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin: 2%;
  margin-left: 3%;
  padding: 1%;
  text-decoration: none;
  font-size: 90%;
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
}

#btn6:hover {
  background-image: linear-gradient(
    rgb(175, 238, 179) 0%,
    rgb(3, 160, 129) 100%
  );
  color: black;
  font-size: 80%;
  transition: all 0.3s ease-in-out;
  border: black 1px solid;
}

#btn7 {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin: 2%;
  margin-left: -5%;
  padding: 1%;
  text-decoration: none;
  font-size: 90%;
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
}

#btn7:hover {
  background-image: linear-gradient(
    rgb(175, 238, 179) 0%,
    rgb(3, 160, 129) 100%
  );
  color: black;
  font-size: 80%;
  transition: all 0.3s ease-in-out;
  border: black 1px solid;
}

#h2 {
  text-align: center;
  border-bottom: 1px solid black;
  padding-top: 2%;
}

#google-image {
  width: 50%;
  opacity: 70%;
}

#title {
  margin-top: -7.5%;
}

#btn8 {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 70%;
  border-radius: 1em;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
}

#btn8:hover {
  background-image: linear-gradient(
    rgb(175, 238, 179) 0%,
    rgb(3, 160, 129) 100%
  );
  color: black;
  font-size: 75%;
  transition: all 0.3s ease-in-out;
  border: black 1px solid;
}

#btn9:hover {
  color: black;
  font-size: 80%;
  transition: all 0.3s ease-in-out;
  border-radius: 1em;
}