.jumbotron {
  box-shadow: 5px 5px 7px 0px rgba(135, 135, 135, 0.83);
  background-image: url('https://res.cloudinary.com/dhqsixgmo/image/upload/v1667909457/giphy_y6pebm.gif');
  background-size: cover;
  height: 425px;
  background-position: center;
}

.myText {
  color: white;
  position: relative;
  transform: translateY(100px);
}
